{% extends "template.html"  %}

{% block title %}
	{{ session.current_channel }}
{% endblock %}

{% block head %}
	<script src="../static/channel.js"></script>
	
{% endblock %}

{% block body %}
	<h1>	
		You are now in 
		<span class="badge badge-dark">
		{{ session.current_channel }} 
		</span>
		channel
	</h1>
	
	<div class="container-channel">
		<div id="chat-box" class="list-group">
		<textarea id="chat" cols="30" rows="10" readonly>
			{%- if messages -%}
				{%- for message in messages -%}
				<{{ message[0]}} - [{{ message[1]}}]:{{message[2]}}{{'\n'}}
				{%- endfor -%}
			{% endif %}
		</textarea>
	</div>

	<div id="message-box">
		<div class="form-border">
			<div class="form-row">
			<div class="form-group col-sm">
				<input id="comment" class="form-control" size="50" autocomplete="off" autofocus>
			</div>
			<div class="form-group col-sm-2">
				<button id="send-button" class="btn btn-sucess" type="reset">Send</button>
			</div>
			<div class="form-group col-sm-1">
				<button id="leave" type="button" class="btn btn-warning">Leave channel </button>
			</div>
		</div>
	</div>


	
{% endblock %}
